/* General styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0b0202;
	background-image: url("https://64.media.tumblr.com/4b65302989093126e347c1930a0ea111/tumblr_pvkfnlC9801qeyvpto1_500.gifv");
	color: #fff;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: #b05b5b;
	text-decoration: none;
}

a:hover {
	color: rgb(10, 65, 162);
}

/* Header styles */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-image: url("https://64.media.tumblr.com/4b65302989093126e347c1930a0ea111/tumblr_pvkfnlC9801qeyvpto1_500.gifv");
	background-position: center;
	background-size: cover;
	position: relative;
}

.glitch {
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: rgb(12, 2, 25);
	color: #fff;
	padding: 20px;
	position: relative;
	animation: glitch 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.glitch::before {
	left: 2px;
	text-shadow: -2px 0 #00ff00;
}

.glitch::after {
	left: -2px;
	text-shadow: 2px 0 #0000ff;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-5px, 5px);
	}

	40% {
		transform: translate(5px, -5px);
	}

	60% {
		transform: translate(-5px, 5px);
	}

	80% {
		transform: translate(5px, -5px);
	}

	100% {
		transform: translate(0);
	}
}

nav {
	margin-top: 50px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-right: 20px;
}

nav a {
	font-size: 1.5rem;
	font-weight: bold;
}




/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}